langchain==0.1.16
langchain-core==0.1.45
langchain-community==0.0.34
langchain-groq==0.1.2
langgraph==0.0.39
sentence-transformers==2.7.0
transformers==4.40.1
faiss-cpu==1.8.0
streamlit==1.33.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
textblob==0.18.0.post0
langdetect==1.0.9
spacy==3.7.4
plotly==5.21.0
matplotlib==3.8.4
pydantic==2.7.1
python-dotenv==1.0.1
datasets==2.19.0
groq==0.5.0
